html {
  min-width: 100%;
  min-height: 100vh;
  background-position: top center;
  overflow: hidden; 
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #6F8EB4;
    background-image: url(../Images/bar2.jpg);
    background-size: cover;
    padding: 10px 10px;
}

#logoMain {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
}

#contactBtn {
    float: right;
    width: 40%;
    margin-right: -10px;
    margin-top: 5px;
    
}

#locForm {
    display: block;
}

.button { /* Form Submit Buttons */
    width: 40%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    padding: 7px 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    overflow: hidden;
}

.buttonToday { /* Form Submit Buttons */
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    padding: 7px 5px;
    display: block;
    border: none;
    background-color: #827258;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.formField { /* Form Fields */
    text-align: center;
    width: 50%;
    height: 60px;
    margin: 10px auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    background: transparent;
    -webkit-transition: 1s;
    transition:  1s;
}

#daySubmit {
    margin-top: 10px;
    width: 90%;
}

#forms {
    text-align: center;
}

input.formField:focus { /* Location */
    background-color: rgba(0,0, 0, 0.7);
}

input[type="checkbox"] {
    display: none;  
}

input[type="checkbox"]:checked + label {
    background-color: #827258;
    color: white;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
}

select.formField:focus { /* Drop-Down */
    background-color: rgba(0,0, 0, 0.5);
}

option {
    background-color: #827258;
}

label { /* Day CheckBox */
    width: 10%;
    overflow: hidden;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    color: white;
    background-color: RGBa(0, 0, 0, 0.3);
    /*padding: 4px 10px;*/
    border: 3px solid white;
    border-radius: 5px;
    margin: 5px 5px;
    -webkit-transition: .5s all;   
    -moz-transition: .5s all;   
    -ms-transition: .5s all;   
    -o-transition: .5s all;   
    transition: .5s all; 
}

label:hover {
  background-color: RGBa(0, 0, 0, 0.6);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

p.search, form { /* Form Text */
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 20px;
}

a { /* Location Links */
    text-decoration: none;
    color: #081930;
    font-weight: bold;
}

#catForm {
    display: inline;
}

#dayForm {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 200px;
}

tr.odd {
   background-color: #F0F0F0; 
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;   
}

tr.even {
   background-color: #D3D9DF;
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;
}

tr.odd:hover {
  background-color: #f2f2f2;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

tr.even:hover {
  background-color: #E1E6EA;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

td, th.headerDay {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

td.location, th.headerLocation, th.headerDay { /* Locations */
    font-size: 35px;
}

td.deal {
    font-size: 30px;
}

th.headerLocation, th.headerDay {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 0;
}

th.headerLocation {
    width: 15%;
    min-width: 300px;
}

th.headerDay {
    width: 12%;
    min-width: 275px;
}

tr.headerWrap { /* Table Header */
    background-color: #E1E6EA;
    width: 100%;
    margin-right: 15px;
}

td.deal {
    height: 100px;
    width: 12%;
    text-align: left;
    padding: 10px;
}

td.location {
    width: auto;
    font-weight: bold;
}

/* Cell Borders */
th.headerLocation, th.headerDay {
    border-bottom: solid black 3px;
    border-radius: 0px;
}

.today { /* Formatting Todays Deals */
    background-color: #827258;
    color: white;
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;
}

.today:hover {
   background-color: #998566;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -ms-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s; 
}

.noResults {
    display: block;
    max-width: 700px;
    width: 50%;
    margin: 10% auto;
}

/* For ViewPointChecker.js */
.hidden{
     opacity: 0;
}
.visible{
     opacity: 1;
}

table {
    table-layout: auto;
}

/* Table Scroll w/ Locked Header */
div.tableContainer {
	clear: both;
	height: 1000px;
	overflow: auto;
}

html>body div.tableContainer {
	overflow: auto;
}

thead.fixedHeader tr {
	position: relative;
}

body tbody.scrollContent {
	display: block;
	height: 70vh;
	overflow: auto;
    width: 100%;
}

body thead.fixedHeader {
	display: inline-table;
	overflow: auto;
	width: 100%;
}

.scrollTable {
    width: 100%;
}