body {
    background-color: black;
    background-image: url(../Images/headerMobile.jpg);
    background-size: cover;
    overflow: hidden;
}

/* Label */
#id123-title23439420, #id123-title23439418, #id123-title23439419, #verifno {
    font-size: 35px;
}

/* Field */
#id123-control23439418, #id123-control23439419, #id123-control23439420, #id123-button-send {
    font-size: 35px;
}

#id123-button-send {
    padding: 10px 25%;
    width: 80%;
    margin-left: -5%;
}

#id123-captcha {
    padding-left: -10%;
}

#row1{
    margin-top: 20vh;
}