html {
  min-width: 100%;
  min-height: 100vh;
  background-position: top center;
  overflow: hidden; 
}

#page {
    background-color: blue;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #6F8EB4;
    background-image: url(../Images/bar2.jpg);
    background-size: cover;
    padding: 10px 10px;
}

#logoMain {
    display: block;
    width: 30%;
    margin-bottom: 5px;
}

#contactSubmit {
    margin: 10px auto 0 auto;
    display: block;
}

.contactInput {
    font-family: 'Roboto Condensed', sans-serif;
    border: solid 2px white;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    display: block;
}

textfield.contactInput {
    height: 100px;
}

.contact {
    width: 200px;
    float: right;
    margin: -7.2% -10px 0 0;
    padding: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #827258;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid white;
    border-radius: 5px;
    width: 400px; /* Could be more or less, depending on screen size */
}

textarea {
    height: 100px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


#myBtn {
    float: right;
    margin: -7% -10px 0 0;
    width: 200px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#catForm {
    display: inline;
}

.button { /* Form Submit Buttons */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 3px 10px;
    margin: 0 0 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.formField { /* Form Fields */
    width: 12%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
    padding: 3px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    background: transparent;
    -webkit-transition: 1s;
    transition:  1s;
}

input.formField:focus { /* Location */
    background-color: rgba(0,0, 0, 0.5);
    width: 15%
}

input[type="checkbox"] {
    display: none;  
}

input[type="checkbox"]:checked + label {
    background-color: #827258;
    color: white;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
}

select.formField:focus { /* Drop-Down */
    background-color: rgba(0,0, 0, 0.5);
}

option {
    background-color: #827258;
}

label {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: RGBa(0, 0, 0, 0.3);
    padding: 4px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    -webkit-transition: .5s all;   
    -moz-transition: .5s all;   
    -ms-transition: .5s all;   
    -o-transition: .5s all;   
    transition: .5s all; 
}

label:hover {
  background-color: RGBa(0, 0, 0, 0.6);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

p.search, form { /* Form Text */
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 20px;
}

a { /* Location Links */
    text-decoration: none;
    color: #081930;
}

#catForm {
    display: inline;
    margin-left: 20px;
}

tr.odd {
   background-color: #F0F0F0; 
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;   
}

tr.even {
   background-color: #D3D9DF;
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;
}

tr.odd:hover {
  background-color: #f2f2f2;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

tr.even:hover {
  background-color: #E1E6EA;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

td, th.headerDay {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

td.location, th.headerLocation, th.headerDay { /* Locations */
    font-size: 20px;
}

th.headerLocation, th.headerDay {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 0;
}

th.headerLocation {
    width: 15%;
}

th.headerDay {
    width: 12%;
}

tr.headerWrap { /* Table Header */
    background-color: #E1E6EA;
    width: 100%;
    padding-right: 15px;
}

td.deal {
    height: 100px;
    width: 12%;
    text-align: left;
    padding: 10px;
}

td.location {
    width: 15%;
}

.today { /* Formatting Todays Deals */
    background-color: #827258;
    color: white;
   -webkit-transition: .5s all;   
   -moz-transition: .5s all;   
   -ms-transition: .5s all;   
   -o-transition: .5s all;   
   transition: .5s all;
}

.today:hover {
   background-color: #998566;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -ms-transition-delay: 0s;
   -o-transition-delay: 0s;
   transition-delay: 0s; 
}

.noResults {
    display: block;
    max-width: 700px;
    width: 50%;
    margin: 10% auto;
}

/* For ViewPointChecker.js */
.hidden{
     opacity: 0;
}
.visible{
     opacity: 1;
}

/* Table Scroll w/ Locked Header */
div.tableContainer {
	clear: both;
	height: 1000px;
	overflow: auto;
}

html>body div.tableContainer {
	overflow: auto;
}

thead.fixedHeader tr {
	position: relative;
}

body tbody.scrollContent {
	display: block;
	height: 70vh;
	overflow: auto;
    width: 100%;
}

body thead.fixedHeader {
	display: inline-table;
	overflow: auto;
	width: 99%;
    margin-right: 10px;
}
.scrollTable {
    width: 100%;
}